site_name: 'OASIS: Open Analysis and Synthesis Infrastructure for Science'
site_description: 'Open Analysis and Synthesis Infrastructure for Science'
site_author: ESIIL staff
site_url: https://CU-ESIIL.github.io/home

# Repository
repo_name: home
repo_url: https://github.com/CU-ESIIL/home
edit_uri: edit/main/docs/
# Copyright
copyright: 'Copyright &copy; 2024 University of Colorado Boulder'

# Page tree
nav:
  - Tags:
      - tags/index.md
      - tags/analytics.md
      - tags/Bayesian.md
      - tags/biomass.md
      - tags/burn-severity.md
      - tags/climate.md
      - tags/cloud.md
      - tags/collaboration.md
      - tags/container.md
      - tags/contribution.md
      - tags/data-library.md
      - tags/data-cubes.md
      - tags/data-management.md
      - tags/development.md
      - tags/disturbance.md
      - tags/docker.md
      - tags/drought.md
      - tags/ecoregions.md
      - tags/education.md
      - tags/epa.md
      - tags/example.md
      - tags/featured.md
      - tags/fia.md
      - tags/fire.md
      - tags/forest.md
      - tags/gdal.md
      - tags/gedi.md
      - tags/GLMM.md
      - tags/INLA.md
      - tags/inventory.md
      - tags/landcover.md
      - tags/landfire.md
      - tags/LGM.md
      - tags/lidar.md
      - tags/modis.md
      - tags/oasis.md
      - tags/quickstart.md
      - tags/R.md
      - tags/raster.md
      - tags/remote-sensing.md
      - tags/schedule.md
      - tags/sentinel-2.md
      - tags/spatial.md
      - tags/spatiotemporal.md
      - tags/stac.md
      - tags/streaming.md
      - tags/treemap.md
      - tags/tutorial.md
      - tags/usage.md
      - tags/usgs.md
      - tags/vegetation.md
      - tags/vsi.md
      
# Configuration
theme:
  highlightjs: true
  name: material
  custom_dir: overrides
  font:
    text: 'Open Sans'
    code: 'Roboto Mono'
  favicon: 'assets/esiil_content/favicon.ico'
  logo: 'assets/thumbnails/esiil_oasis_logo.png'
  # setting features for the navigation tab
  toc:
    position: right
  features:
    - navigation.instant
    - navigation.sections
    - navigation.indexes
    - navigation.tabs.sticky
    - toc.follow
    - content.code.copy
  # Default values, taken from mkdocs_theme.yml
  language: en
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: white)"
      primary: 'white'
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to system preference

# Options
extra:
  social:
    - icon: fontawesome/brands/github
    # link: https://github.com/cu-esiil/


# Extensions
markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: collapsible
          class: collapsible
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_css:
  - assets/css/style.css
  - chatbot_widget.css

extra_javascript:
  - chatbot_widget.js

plugins:
  - search
  - tags:
      tags_file: tags/index.md
  - mkdocstrings
  - git-revision-date-localized:
      enable_creation_date: false
      fallback_to_build_date: true
      exclude:
        - ^tags/.*
  - mkdocs-jupyter:
        include_source: True
        ignore_h1_titles: False
